<br>
<div class="flex dark:bg-slate-800 mx-8">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded active:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300"
  routerLink="/Menu">Go Back</button>
</div>
<br>
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl  dark:bg-slate-800">
    <div class="md:flex">
      <div class="md:shrink-0">
        <img class="h-48 w-full object-cover md:h-full md:w-48" src='assets\images\photo-1452784444945-3f422708fe5e.jpeg' alt="Modern building architecture">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold text-black">Private Villa</div>
        <a href='https://www.google.com/search?q=Relaxing+All-Inclusive+Resort+in+Cancun&rlz=1C1ONGR_enPK1053PK1053&oq=Relaxing+All-Inclusive+Resort+in+Cancun&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIICAEQABgWGB4yCggCEAAYhgMYigUyCggDEAAYhgMYigUyCggEEAAYhgMYigUyCggFEAAYhgMYigUyCggGEAAYhgMYigXSAQ4zMjc5NDI4NzVqMGoxNagCALACAA&sourceid=chrome&ie=UTF-8' >Relaxing All-Inclusive Resort in Cancun</a>
        <p class="mt-2 text-slate-500 dark:text-white">$299 USD per night</p>
      </div>
    </div>
</div>
<br>
<br>
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl  dark:bg-slate-800">
  <div class="md:flex">
    <div class="md:shrink-0">
      <img class="h-48 w-full object-cover md:h-full md:w-48" src='assets\images\download.jpeg' alt="Modern building architecture">
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold text-black">Live Aqua Beach Resort</div>
      <a href='https://www.islandlifemexico.com/best-cancun-all-inclusive-resorts/' >The Best Cancun All Inclusive Resorts</a>
      <p class="mt-2 text-slate-500 dark:text-white">$249 USD per night</p>
    </div>
  </div>
</div>
<br>
<br>
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl  dark:bg-slate-800">
  <div class="md:flex">
    <div class="md:shrink-0">
      <img class="h-48 w-full object-cover md:h-full md:w-48" src='assets\images\jaga.jpeg' alt="Modern building architecture">
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold text-black">World Of Hyatt</div>
      <a href='https://www.hyatt.com/en-US/hotel/mexico/dreams-riviera-cancun/drerc' >Dreams Riviera Cancun Resort & Spa</a>
      <p class="mt-2 text-slate-500 dark:text-white">$349 USD per night</p>
    </div>
  </div>
</div>
<br>
<br>
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl  dark:bg-slate-800">
  <div class="md:flex">
    <div class="md:shrink-0">
      <img class="h-48 w-full object-cover md:h-full md:w-48" src='assets\images\BRECU-P0006-Xcelerate-Pool.16x9.jpg' alt="Modern building architecture">
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold text-black">World Of Hyatt</div>
      <a href='https://www.hyatt.com/en-US/hotel/mexico/cancun-soul-resort-spa/brecu' >Breathless Cancún Soul Resort & Spa</a>
      <p class="mt-2 text-slate-500 dark:text-white">$319 USD per night</p>
    </div>
  </div>
</div>
