<br>
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl  dark:bg-slate-800">
    <div class="md:flex">
      <div class="md:shrink-0">
        <img class="h-48 w-full object-cover md:h-full md:w-48" src="assets\images\istockphoto-511061090-612x612.jpg" alt="Modern building architecture">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Company retreats</div>
        <a href="https://www.google.co.uk/search?q=Incredible+accommodation+for+your+team&sca_esv=556258018&source=hp&ei=4U3XZLyqIfSZkdUPitix8AM&iflsig=AD69kcEAAAAAZNdb8Wo6qtQxtfgicp8CY6f3sykEtuLp&ved=0ahUKEwj8nvvA5NaAAxX0TKQEHQpsDD4Q4dUDCAk&uact=5&oq=Incredible+accommodation+for+your+team&gs_lp=Egdnd3Mtd2l6IiZJbmNyZWRpYmxlIGFjY29tbW9kYXRpb24gZm9yIHlvdXIgdGVhbTIFECEYoAFIqAtQogRYogRwAXgAkAEAmAGwAqABsAKqAQMzLTG4AQPIAQD4AQL4AQGoAgrCAhAQLhgDGI8BGOoCGIwDGOUCwgIQEAAYAxiPARjqAhiMAxjlAg&sclient=gws-wiz" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline dark:text-white">Incredible accommodation for your team</a>
        <p class="mt-2 text-slate-500 dark:text-white">Looking to take your team away on a retreat to enjoy awesome food and take in some sunshine?
           We have a list of places to do just that.</p>
      </div>
    </div>
</div>
<br>
<div class="flex justify-center items-center  dark:bg-slate-800">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded active:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300"
  routerLink="/Menu">Go Back</button>
</div>
<br>
<br>
<div>
  <img  src="assets\images\photo-1452784444945-3f422708fe5e.jpeg">
  <p>
    Maybe we can live without libraries, people like you and me. Maybe. 
    Sure, we're too old to change the world, but what about that kid, sitting down, opening a book, right now,
    in a branch at the local library and finding drawings of pee-pees and 
    wee-wees on the Cat in the Hat and the Five Chinese Brothers? 
    Doesn't HE deserve better? Look. If you think this is about overdue fines and missing books, 
    you'd better think again. This is about that kid's right to read a book without getting his mind warped!
    Or: maybe that turns you on, Seinfeld;
    maybe that's how y'get your kicks. You and your good-time buddies.
  </p>
</div>
<table class="border-separate border-spacing-2 border border-black-500 ml-6 bg-blue-300 ">
  <thead>
    <tr>
      <th class="border border-black-600 ...">State</th>
      <th class="border border-black-600 ...">City</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-slate-700 ...">Indiana</td>
      <td class="border border-slate-700 ...">Indianapolis</td>
    </tr>
    <tr>
      <td class="border border-slate-700 ...">Ohio</td>
      <td class="border border-slate-700 ...">Columbus</td>
    </tr>
    <tr>
      <td class="border border-slate-700 ...">Michigan</td>
      <td class="border border-slate-700 ...">Detroit</td>
    </tr>
  </tbody>
</table>
