<br>
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl  dark:bg-slate-800">
    <div class="md:flex">
      <div class="md:shrink-0">
        <img class="h-48 w-full object-cover md:h-full md:w-48" src="assets\images\istockphoto-511061090-612x612.jpg" alt="Modern building architecture">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Company retreats</div>
        <a href="https://www.google.co.uk/search?q=Incredible+accommodation+for+your+team&sca_esv=556258018&source=hp&ei=4U3XZLyqIfSZkdUPitix8AM&iflsig=AD69kcEAAAAAZNdb8Wo6qtQxtfgicp8CY6f3sykEtuLp&ved=0ahUKEwj8nvvA5NaAAxX0TKQEHQpsDD4Q4dUDCAk&uact=5&oq=Incredible+accommodation+for+your+team&gs_lp=Egdnd3Mtd2l6IiZJbmNyZWRpYmxlIGFjY29tbW9kYXRpb24gZm9yIHlvdXIgdGVhbTIFECEYoAFIqAtQogRYogRwAXgAkAEAmAGwAqABsAKqAQMzLTG4AQPIAQD4AQL4AQGoAgrCAhAQLhgDGI8BGOoCGIwDGOUCwgIQEAAYAxiPARjqAhiMAxjlAg&sclient=gws-wiz" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline dark:text-white">Incredible accommodation for your team</a>
        <p class="mt-2 text-slate-500 dark:text-white">Looking to take your team away on a retreat to enjoy awesome food and take in some sunshine?
           We have a list of places to do just that.</p>
      </div>
    </div>
</div>
<br>
<div class="flex justify-center items-center  dark:bg-slate-800">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded active:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300"
  routerLink="/Menu">Go Back</button>
</div>
<br>




