<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>
<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
    <div class="shrink-0">
      <img class="h-12 w-12" src='assets\images\images.jpeg' alt="ChitChat Logo">
    </div>
    <div>
      <div class="text-xl font-medium text-black">ChitChat</div>
      <p class="text-slate-500">You have a new message!</p>
    </div>
</div>
<br>
<div class="py-8 px-8 max-w-md mx-auto bg-white rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
    <img class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0" src="assets\images\Giga_Chad.jpg" alt="Gigachad" />
    <div class="text-center space-y-2 sm:text-left">
      <div class="space-y-0.5">
        <p class="text-lg text-black font-semibold">
          Gigachad
        </p>
        <p class="text-slate-500 font-medium">
          Body Shower
        </p>
      </div>
      <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2"
      (click)="greet()">Message</button>
    </div>
</div>
<br>
<div class="py-8 px-8 max-w-lg mx-auto bg-white rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6 sm:justify-center">
  <div class="text-center space-y-2 sm:text-left">
    <div class="space-y-0.5">
      <p class="text-lg text-black font-semibold">
        Python
      </p>
      <p class="text-slate-500 font-medium">
        Full Course
      </p>
    </div>
    <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2"
    (click)="enroll()">Enroll Now</button>
  </div>
  <img src="assets\images\wp7685924.png" alt="wp" class="block h-24 rounded-full sm:float-right"/>
</div>
<br>
<div class="py-8 px-8 max-w-xl mx-auto bg-white rounded-md shadow-lg space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6 sm:justify-center">
  <img src='assets\images\scifi-city-sunset-wallpaper-2560x1024_99.jpg' alt="wp" class="block h-24 rounded-md "/>
  <div class="text-center space-y-2 sm:text-left">
    <div class="space-y-0.5">
      <p class="text-lg text-black font-semibold">
        Beautiful City
      </p>
      <p class="text-slate-500 font-medium">
        Want to Visit
      </p>
    </div>
    <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2"
    (click)="Trip()">Book Trip</button>
  </div>
</div>
<br>
<br>
<div class="flex justify-center items-center">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ">Like This!</button>
</div>